# Игнорировать файл с именем secret.txt
secret.txt

# Игнорировать содержимое директории logs
logs/

# Игнорировать файлы с расширением .log
*.log

# Игнорировать файлы, начинающиеся со слова temp
temp*

# Отслеживать файл temp_important.txt, даже если есть шаблон на игнорирование temp*
!temp_important.txt
